$bgteal: #0fcbd7;
$bgteal-darker: #0e959e;

#navbar {
  padding-top: 4px;
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.header_logo {
  color:white
}

.nav_links {
  font-style: normal;
  color: white;
}

.button_teal {
  background-color: $bgteal;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0;
  color: white;
  font-weight: bold;
}
.button_teal:hover {
  background-color: $bgteal-darker;
}
.button_teal:active {
  background-color: $bgteal;
}